{% extends "blog/base.html" %}

{% block header %}
  <title>Favorite site edit</title>
{% endblock header %}

{% block content %}
<div class="container text-center">
	<br>
	<br>
	<br>
	<h4>我的收藏</h4>
	<div class="container">
		<ul class="nav">
		{% for favor in favorites %}
			<li class="nav-link disabled">
				<a class="nav-link text-dark" href ="{{favor.address}}">{{favor.name|title}}</a>
			</li>
		{% endfor %}
		</ul>
		<br>
		<p class="lead">
			<a class="btn btn-link mb-2 text-dark" href="{% url 'guide:add' %}">添加</a>
			<a class="btn btn-link mb-2 text-dark" href="{% url 'guide:index' %}">返回</a>
		</p>
	</div>
</div>
{% endblock content %}
