{% extends "blog/base.html" %}

{% block header %}
  <title>Blog Post</title>
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>
{% endblock header %}

{% block content %}
  <div class="container">  
      <p>
        {% if perm_flag %}
          <a class="btn btn-link btn-md text-muted" href = {% url "blog:create_post" %}>发布新的</a>
        {% endif %}
      </p>
  </div>

  <hr>
  <div class="container">
    <div class="card-columns text-center">
      {% for preview in previews %}
        {% if preview.image %}
          <div class="card" data-toggle="tooltip" data-placement="top" title="{{ preview.post.title|title }}">            
            <a href={% url "blog:post_detail" preview.post.id %}><img class="card-img-top" alt="Card image cap" src="{{ preview.image.image.url }}"></a>     
          </div>
        {% else %}
          <a class="nav-link text-dark" href={% url "blog:post_detail" preview.post.id %}>{{ preview.post.title|title }}</a>  
        {% endif %}
        <hr>                         
      {% empty %}
        <div class="col-md-12">
          <p>No post written yet.</p>
        </div>          
      {% endfor %}
    </div>
  </div>
{% endblock content %}
