{% extends "blog/base.html" %}

{% block header %}
    <title>Login or register</title>
{% endblock header %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row justify-content-md-center">      
            <div class="alert alert-info col-md-4 text-center" role="alert">
                <h4>提示</h4>
                    添加收藏需要<a href="{% url 'users:login' %}" class="alert-link">登陆</a>之后才可以
                <hr>
                    还没有账号吗？<a href="{% url 'users:register' %}" class="alert-link">注册</a>一个吧
            </div>
        </div>
    </div>
{% endblock content %}