{% extends "blog/base.html" %}

{% block header %}
    <title>Login</title>
{% endblock header %}


{% block content %}
    {% if form.errors %}
        <p>Please try again</p>
    {% endif %}
<div class="container">      
    <form class="form-signin" action="{% url 'users:login' %}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-md btn-light" type="submit">登陆</button>
    </form>
    {% if error %}
        <p>{{error}}</p>
    {% endif %}
</div>
{% endblock%}
