{% extends "blog/base.html" %}

{% block header %}
    <title>Login</title>
{% endblock header %}


{% block content %}
<div class="container text-center">
    <br>
    <br>
    <br>
    <br>      
    <form class="form-signin" action="{% url 'users:login' %}" method="POST">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
        {% csrf_token %}
        <div class="form-group row justify-content-md-center">
            <label class="col-sm-2 col-form-label" for="username">用户名</label>
            <div class="col-sm-4">
                {{ form.username }}
            </div>
        </div>
        <div class="form-group row justify-content-md-center">
            <label class="col-sm-2 col-form-label" for="password1">密码</label>
            <div class="col-sm-4">
                {{ form.password }}
            </div>
        </div>
        <button class="btn btn-lg btn-secondary" type="submit">登陆</button>
    </form>
    <br>
    <br>
    {% if form.errors %}
    <div class="container row justify-content-md-center">
        <div class="alert alert-danger md-6" role="alert">
            用户不存在或密码错误!
        </div>
    </div>
    {% endif %} 
</div>
{% endblock%}
