<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User login page</title>
</head>
<body>
    {% block content %}
        {% if form.errors %}
            <p>Please try again</p>
        {% endif %}

        <form action="{% url 'users:login' %}" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Login" />
						<input type="hidden" name="next" value="{% url 'guide:index'  %}" />
        </form>
    {% endblock%}

</body>
</html>
