{% extends "blog/base.html" %}

{% block header %}
	<title>Guide</title>
	
{% endblock header %}

{% block content %}
<div class="container-fluid">
	<div class="container">
		<br>
		<br>
		<form action='/search/web/'>
			<div class="form-row justify-content-md-center">
				<select class="custom-select col-md-1 form-control-lg" id="inputGroupSelect01" name="type">
					<option value="1">Baidu</option>
					<option value="2">Google</option>
					<option value="3">Bing</option>
				</select>
				<div class="col-md-6">
					<input class="form-control form-control-lg" type="text" placeholder="Search" name="keywords">
				</div>
			</div>
			<br>	
			<div class="form-row justify-content-md-center">
				<div class="col-md-2">
					<button class="btn btn-light btn-primary btn-block">Search</button>
				</div>
			</div>	
		</form>
		<br>
	</div>	
	<br>
	<br>
	<br>
	<br>
	<div class="container">	
		<ul class="nav">		
			{% for favor in favorite %}
				<li class="nav-link disabled">
					<a class="nav-link text-dark" href ="{{ favor.address }}">{{ favor.name|title }}</a>
				</li>
			{% endfor %}
		</ul>		
		<hr>
		<ul class="nav">
			{% if favorite %}
				<a class="nav-link disabled" href="{% url 'guide:edit' %}">管理收藏</a>
			{% else %}
				<a class="nav-link disabled" href="{% url 'guide:edit' %}">添加收藏</a>
			{% endif %}
		</ul>
	</div>
</div>		
{% endblock %}

