{% extends "blog/base.html" %}

{% block header %}
	<title>Guide</title>
	<style>
		#favor
        {
            background: rgba(255, 255, 255, 0.3) !important; /* IE无效，FF有效 */
            background: #fff;
            filter: alpha(opacity=30);
        }

	</style>
	<script language="javascript">
		function normal(){ 
			document.search.action="/search/web/";
			document.search.submit();
		}
		function google(){
			document.search.action="/search/google/";
			document.search.submit();
		}
		</script>
{% endblock header %}

{% block content %}
<div class="container-fluid">
	<div class="container">
		<br>
		<br>
		<form action='' name='search' method="GET">
			<div class="form-row justify-content-md-center">
				<select class="custom-select col-md-1 form-control-lg" id="inputGroupSelect01" name="search_target">
					<option value="1">Baidu</option>
					<option value="2">Google</option>
					<option value="3">Bing</option>
				</select>
				<div class="col-md-6">
					<input class="form-control form-control-lg" type="text" placeholder="Search" name="keywords">
				</div>
			</div>
			<br>
			<div class="form-row justify-content-md-center">
				<div class="col-md-2">
					<button class="btn btn-light btn-primary btn-block" onclick="normal()">Search</button>
				</div>
				<div class="col-md-2">
					<button class="btn btn-info btn-block" onclick="google()">神秘搜索</button>
				</div>
			</div>	
		</form>
		<br>
	</div>	
	<br>
	<br>
	<div class="container" >	
		<div class="rounded" id="favor">
			<ul class="nav">		
				{% for favor in favorite %}
					<li class="nav-link disabled">
						<a class="nav-link text-dark" href ="{{ favor.address }}">{{ favor.name|title }}</a>
					</li>
				{% endfor %}
			</ul>		
		</div>
		<hr>
		<ul class="nav">
			{% if favorite %}
				<a class="nav-link disabled btn-light" href="{% url 'guide:edit' %}">管理收藏</a>
			{% else %}
				<a class="nav-link disabled btn-light" href="{% url 'guide:edit' %}">添加收藏</a>
			{% endif %}
		</ul>
	</div>
</div>		
{% endblock %}

