{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Pencil">

    {% block header %}{% endblock header %}

    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>
<body>
    <!--Static navbar-->
    <nav class="navbar navbar-light bg-light">
        <div class="nav navbar-left">
            <span class="navbar-brand mb-0 h1">MeetPencil</span>

            <a class="nav-item nav-link text-muted" href="{% url 'blog:index' %}">
                Blog
            </a>
            <a class="nav-item nav-link text-muted" href="{% url 'guide:index' %}">
                Guide
            </a>
        </div>

        <div class="nav navbar-right">
            {% if user.is_authenticated %}
                <a class="nav-item nav-link disabled text-muted">Hi,{{ user.username }}</a>
                <a class="nav-item nav-link text-muted" href="{% url 'users:logout' %}">Log out</a>
            {% else %}
                <a class="nav-item nav-link text-muted" href="{% url 'users:register' %}">Register</a>
                <a class="nav-item nav-link text-muted" href="{% url 'users:login' %}">Log in</a>
            {% endif %}           
        </div>
    </nav>

    <div class="container">
        <div>
            {% block content %}{% endblock content %}
        </div>
    </div> <!-- /container -->

</body>
</html>