{% extends "blog/base.html" %}

{% block header %}
	<title>Blog</title>	
{% endblock header %}

{% block content %}
<br>
<br>
<br>
<br>
<div class="container text-center">
	<h1 class="display-4">Meet Pencil</h1>
	<p class="lead">
		欢迎来到我的博客，做模型和拍照是我的爱好，点击照片墙看一看吧，希望你喜欢
	</p>
	<p class="lead">
		如果想了解更多关于这个博客的信息，可以点击关于
	</p>
	<p class="lead">
		<a class="btn btn-lg btn-link text-muted" href = {% url "blog:post" %}>照片墙</a>
		<a class="btn btn-lg btn-link text-muted" href = {% url "blog:about" %}>关于</a>
	</p>
</div>
{% endblock %}

