{% extends "blog/base.html" %}

{% block header %}
  <title>Blog Post</title>	
{% endblock header %}

{% block content %}

  <div class="jumbotron">
    <h1>Meet Pencil</h1>
  </div>

  <a href = {% url "blog:create_post" %}>New post</a>
  <hr>
  <li>
    {% for post in posts %}
      <a href={% url "blog:post_detail" post.id %}>{{post.title|title}}</a>
      <p>{{post.body}}</p>
      <p>{{post.time_added}}</p>
      <hr>
    {% empty %}
      <li>No post written yet.</li>
    {% endfor %}
  </li>
{% endblock content %}
