{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Pencil">
        <title>Post_edit_page</title>
        <link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}" >
      </head>		
  <body>
    <a href = "{% url 'guide:index' %}">Home</a>

    {% block content %}
    <form action = "{% url 'blog:post_edit' post.id %}" method="POST">
      {% csrf_token %}
      {{form.as_p}}
      <button name="submit">Save</button>
    </form>	
    {% endblock %}      
  </body>
</html>
